:root {
  background: whitesmoke;
}

body {
  background-color: whitesmoke;
  font-family:Arial, Helvetica, sans-serif;
  color: black
  margin: 10px;
}
p.sansserif {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a:visited {
  color: black;
}
a.customvisited:visited {
  color: whitesmoke;
}

h1 {
  color: black;
  font-size: 16px;
  padding-left: 20px;
  padding-top: 0px;
}

h2 {
  color: black;
  font-size: 18px;
  padding-top: 10px;
  padding-left: 20px;
}

h3 {
  color: black;
  font-size: 24px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}

h4 {
  color: black;
  font-size: 24px;
  padding-left: 20px;
  padding-top: 20px;
  padding-bottom: 0px;
}

h5 {
  color: red;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 20px;
}

h6 {
  color: dimblack;
  font-size: 16px;
  font-weight: bold;
  padding-left: 20px;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 20px;
  background-color:whitesmoke;
}

img {
  padding: 5px;
  width: 500px;
  height: auto;
  margin-left: 20px;
}

a:active {
  background-color: whitesmoke;
}

    p.a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    background-color: whitesmoke;
        }

    h1.b{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: ;
        }

    h2.c{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: whitesmoke;
        }

    ul.d{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: whitesmoke;
        }

    li.e{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: whitesmoke;
        }

    nav{
    margin-bottom: 20px;
        }

.container {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: dense;
}

.horizontal {
    grid-column: span 2;
}

.vertical {
    grid-row: span 2;
}

.big {
    grid-column: span 2;
    grid-row: span 2;
}

img {
     width: 300px;
     height: auto;
    }

p {
      margin: 25px;
    }
