:root {
  background: mintcream;
}

body {
  background-color: mintcream;
}

a:visited {
  color: whitesmoke;
}

h1 {
  color: black;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 0px;
  background-color:mintcream;
}

h2 {
  color: gray;
  margin-right: 20px;
  margin-left: 20px;
  padding-bottom: 0px;
  background-color:mintcream;
}

div {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color:mintcream;
}

img {
  padding: 5px;
  width: 500px;
  height: auto;
  margin-left: 20px;
}

a:active {
  background-color: whitesmoke;
}

    p.a{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    background-color: mintcream;
        }

    h1.b{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 24px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: mintcream;
        }

    h2.c{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: mintcream;
        }

    ul.d{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: mintcream;
        }

    li.e{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    margin-left: 20px;
    margin-bottom: 10px;
    background-color: mintcream;
